:root {
    --light-gray: #e2e8f0;
    --light-blue: #1992d4;
    --gold: #f0b429;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;
}

.sidebar {
    background-color: var(--light-blue);
    color: white;
    grid-column: 1;
    grid-row: 1 / end;
    display: grid;
    grid-template-columns: 3em auto;
    grid-template-rows: repeat(auto-fit, 50px);
    z-index: 2;
}

.sidebar > .col-1 {
    grid-column: 1;
}

.sidebar > .col-2 {
    grid-column: 2;
}

.sidebar > .row-1 {
    grid-row: 1;
}

.sidebar > .row-2 {
    grid-row: 2;
}

.sidebar > .row-3 {
    grid-row: 3;
}

.sidebar > .row-4 {
    grid-row: 4;
}

.sidebar > .row-5 {
    grid-row: 5;
}

.sidebar > .row-6 {
    grid-row: 6;
}

.sidebar > .row-7 {
    grid-row: 7;
}

.sidebar > .row-8 {
    grid-row: 8;
}

.sidebar > .row-9 {
    grid-row: 9;
}

.sidebar > .row-10 {
    grid-row: 10;
}

.sidebar > .row-11 {
    grid-row: 11;
}

.sidebar > .row-12 {
    grid-row: 12;
}

.header {
    background-color: white;
    box-shadow: -5px 5px 5px darkgrey;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2;
    z-index: 1;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-row: 1;
    grid-column: 1;
}

#search-icon {
    height: 20px;
}

#search-bar {
    height: 20px;
    border: 0px;
    border-radius: 10px;
    background-color: var(--light-gray);
    resize: none;
    width: 82.5%;
}

.profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 2;
}

#notification-bell {
    height: 20px;
}

.prof-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("https://pngimg.com/uploads/tom_and_jerry/tom_and_jerry_PNG5.png");
    background-color: var(--light-blue);
}

.user-info {
    grid-column: 1;
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 1em;
}

.button-container {
    grid-column: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-button {
    background-color: var(--light-blue);
    color: white;
    height: 3rem;
    width: 5rem;
    border: 0px;
    border-radius: 1.25rem;
    font-weight: bold;
}

.icon, .sidebar-text {
    align-self: center;
    justify-self: center;
}

.icon {
    padding: 0.5rem;
    height: 70%;
    filter: invert(1);
}

.main-content {
    background-color: var(--light-gray);
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1em;
}

.project-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 1em;
}

.project-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 0.5em;
    padding: 0.5em;
    border-left: 0.5rem solid var(--gold);
    z-index: 1;
    box-shadow: 5px 5px 5px darkgrey;
}

.project-card-title {
    grid-column: 1;
}

.project-card-text {
    grid-column: 1 / end;
}

.project-card-icons {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-icon {
    height: 2rem;
}

.announce-trends-container {
    display: flex;
    flex-direction: column;
}

.announce-card {
    background-color: white;
    border-radius: 0.5em;
    padding: 0.5em;
    display: grid;
    box-shadow: 5px 5px 5px darkslategray;
}

.announce-card > hr {
    width: 100%;
    color: var(--light-gray);
    border: 1px solid var(--light-gray);
}

.trends-card {
    background-color: white;
    border-radius: 0.5em;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 5px 5px 5px darkslategray;
}

.trends-card > * {
    align-self: center;
}